.Pembungkusnya{
    display: inline-block;
    position: absolute;
    height: 45vh;
    width: 40vw;
    top: 15%;
    left: 15.2%;
    background-color: #FFFECB;
    box-shadow: 
        10 10 0 rgba(0, 0, 0, 0.15),
        10 10 0 rgba(0, 0, 0, 0.15),
        10 10 0 rgba(0, 0, 0, 0.15)
    ;


}

p{
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
}